@font-face {
    font-family: 'star-wars';
    src: url('../police/star-wars/starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heroes';
    src: url('../police/heroes-legend/HeroesLegend.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}

.menu_toggler.show_toggler {
    opacity: 1;
}
.menu_toggler {
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 9999;
    margin: 0;
    padding: 0;
    width: 47px;
    height: 47px;
    border: none;
    text-indent: -9999px;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(136, 136, 136, 0.55);
    opacity: 0;
    display: block;
    transition: all 300ms;
    -webkit-transition: all 300ms;
}
.menu_toggler:before {
    position: absolute;
    content: '';
    left: 16px;
    top: 18px;
    width: 15px;
    height: 12px;
    background: url(../img/btn_menu.png) no-repeat left top;
}

/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
            BARRE DE NAVIGATION			  
\_________________________________________*/

.nav-active{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
}
.nav-off{
    text-align: center;
}
.navbar-expand-lg a{
    color: #fff;

}
.navbar-expand-lg a:hover{
    font-size: 20px;
}
.navbar-expand-lg{
    z-index: 99;
}
.navbar-expand-lg img{
    border-radius: 50%;
    border: solid 2px;
}

/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
                CONTENT HOME			  
\_________________________________________*/

.content-home{
    background: url(../images/cup-of-coffee.jpg) no-repeat center top fixed;
    background-size: cover;
    min-height: 800px;
}

.content-home h1{
    text-align: center;
    color: #fff;
}

.content-home h3{
    text-align: center;
    color: #de4300;
}
.console-text{
    height: 100%;
    padding: 25% 0 0 0px;
}
.console-int{
    position: absolute;
    height: 66%;
    top: 17%;
    width: 100%;
    text-align: center;
}
.console-int img{
    border-radius: 50%;
}
#consoleText2{
    position: absolute;
    width: 50%;
    height: 30%;
    left: 25%;
    top: 20%;
    border-radius: 3%;
    background-color: rgba(0,0,0,0.4);
}

/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
               CONTENT PRESENTATION		  
\_________________________________________*/

.content-about{
    min-height: 500px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8) inset;
}
.content-about .container-fluid{
    padding: 30px 0;
}
.content-about img{
    border-radius: 50%;
}
.content-about p{
   font-family: "star-wars";
   font-size: 20px;
}
.content-about ,.row, .col-md-12{
    text-align: center;
    width: 100%;
    margin: auto;
}

/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
                CONTENT CV			  
\_________________________________________*/

.content-cv{

    min-height: 800px;
    background: url(../images/keyboard.jpg) no-repeat center top fixed;
    background-size: cover;
}

.experience{
    background: url(../images/city.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.experience-content{
    background: rgba(108, 24, 0, .7);
    padding:60px 40px;
    color:#fff;
}
.experience-content h4{
    color:#fff;
    text-transform:uppercase;
    font-size:26px;
    font-family: "Raleway Webfont";
    font-weight:600;
    margin-bottom:50px;
}
.experience-content .content-details h5{
    color:#fff;
    font-size:18px;
}
.experience-content .content-details h6{
    color:#ecf0f2;
    font-size:16px;
}
.experience-content .content-details p{
    color:#ecf0f2;
}
.experience-content .content-details.content-border{
    border-bottom:1px solid #dadada;
    padding-bottom: 30px;
    margin-bottom: 30px;
}


.row {
    display: table;
}

[class*="col-"] {
    float: left;
    display: table-cell;
    vertical-align: top;
    margin-bottom:30px;
    margin-top:30px;
}
/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
                CONTENT COMPETENCES		  
\_________________________________________*/

.content-competences h3{
    text-align: center;
    font-family: "heroes";
    margin-top: 40px;
}

.content-competences .list-group-item{
    cursor: pointer;
}

.content-competences h4{
    text-align: center;
    font-family: "star-wars";
}

.content-competences .progress{
    width: 80%;
    float: left;
    height: 30px;
    margin-top: 10px;
}
.img-competences{
    width: 20%;
    float: left;
    height: 30px;
    margin-top: 10px;
}
.img-competences img{

    height: 30px;
}
.comp-html .progress-bar{
    background-color: #e44e27;
}
.comp-php .progress-bar{
    background-color: #617cbf;
}
.comp-js .progress-bar{
    background-color: #d6bb32;
}
.comp-css .progress-bar{
    background-color: #2aa8dd;
}
.comp-java .progress-bar{
    background-color: #ea2d2f;
}
.comp-mysql .progress-bar{
    background-color: #006591;
}
.comp-windows .progress-bar{
    background-color: #8fb943;
}
.comp-linux .progress-bar{
    background-color: #848484;
}
.comp-bootstrap .progress-bar{
    background-color: #52284b;
}
.comp-jquery .progress-bar{
    background-color: #1e2e3b;
}
.comp-sf .progress-bar{
    background-color: #000;
}
.comp-magento .progress-bar{
    background-color: #f0771e;
}
.comp-c .progress-bar{
    background-color: #ffcc33;
}
.framework {
    float: left;
    width: 100%;
}
.cms {
    float: left;
    margin-top: 30px;
    width: 100%;
}
/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
              CONTENT PORTFOLIO			  
\_________________________________________*/


.content-portfolio{
    background: url(../images/portfolio.jpg) no-repeat center top fixed;
    min-height: 800px;
    background-size: cover;
}
.content-portfolio h1{
    text-align: center;
}

.content-portfolio h1{
    text-align: center;
}
.content-portfolio hr{
    width: 23%;
    border: solid 1px;
}
.content-portfolio img{
    width: 100%;
}
.content-portfolio .list-group{
    width: 100%;
}
/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
              CONTENT CONTACT			  
\_________________________________________*/

.content-contact{
    background: url(../images/contact1.jpg) no-repeat center top fixed;
    background-size: cover;
    min-height: 800px;
}

.test{
    display: none;
}